.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 18px;
}

.photo-card {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 18px;
    transition: transform 0.3s;
}

.photo-card:hover {
    transform: scale(1.03);
}

.info {
    padding: 10px;
    color: black;
}

.info-item {
    margin: 5px 0;
}
